button,
textarea,
input.text,
input[type="file"],
input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"],
.input-checkbox {
	-webkit-appearance: none;
	border:1px solid #cccccc;
	line-height: 1.5em;
	border-radius: 0;
	cursor: pointer;
	padding-left: 2px;
}

button {
  padding:2px;
  background-color: #dcdcdc;
  border: 1px solid #666;
  border-radius: 4px;
  color:#000;
  text-decoration:none;
  cursor: pointer;
}

input[type='file'] {
	background-color: #ebebeb;
	box-shadow: 1px 1px 2px gray;

}